.numbers {
  font-size: 4vh !important;
}

.nav-fixed-top {
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

.ph-cases-padding-top {
  padding-top: 2em;
}

.ph-title-center {
  text-align: center !important;
  padding-top: 2em;
}

.summary-padding {
  padding-top: 8em;
}
